# HR prediction

## Feature selection

In [21]:
import pandas as pd
import numpy as np

In [22]:
data_frame=pd.read_csv('modified_data.csv')

In [23]:
data_frame.head()

,Age,Attrition,DailyRate,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,...,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Travel_Frequently,Travel_Rarely,Research & Development,Sales,Male,Married,Single
0,0.683737,1.0,0.885521,0.000000,0.25,1.0,0.0,0.000000,0.333333,0.948607,...,0.222222,0.000000,0.294118,0.0,1.0,0.0,1.0,0.0,0.0,1.0
1,0.831787,0.0,0.374403,0.617540,0.00,1.0,0.0,0.090793,0.666667,0.589446,...,0.388889,0.066667,0.411765,1.0,0.0,1.0,0.0,1.0,1.0,0.0
2,0.598474,1.0,0.967331,0.205847,0.25,0.2,0.0,0.181587,1.000000,0.930745,...,0.000000,0.000000,0.000000,0.0,1.0,1.0,0.0,1.0,0.0,1.0
3,0.503446,0.0,0.972445,0.326260,0.75,1.0,0.0,0.210816,1.000000,0.518412,...,0.388889,0.200000,0.000000,1.0,0.0,1.0,0.0,0.0,1.0,0.0
4,0.336773,0.0,0.653689,0.205847,0.00,0.8,0.0,0.254889,0.000000,0.238944,...,0.111111,0.133333,0.117647,0.0,1.0,1.0,0.0,1.0,1.0,0.0

In [24]:
from sklearn.feature_selection import SelectFromModel
from sklearn.linear_model import Lasso

In [25]:
model=SelectFromModel(Lasso(alpha=0.001,random_state=0))

In [26]:
x=data_frame.drop(['Attrition'],axis=1)
y=data_frame[['Attrition']]

In [27]:
model.fit(x,y)

SelectFromModel(estimator=Lasso(alpha=0.001, random_state=0))

In [28]:
model.get_support()

array([ True,  True,  True, False,  True, False, False,  True, False,
        True, False,  True,  True,  True, False,  True,  True,  True,
       False,  True, False,  True, False,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True])

In [29]:
features_to_select=[]
for i,j in zip(x.columns,model.get_support()):
    if j==True:
        features_to_select.append(i)

In [33]:
final_data=pd.concat([data_frame[features_to_select],data_frame[['Attrition']]],axis=1)

In [35]:
final_data.head()

,Age,DailyRate,DistanceFromHome,EducationField,EnvironmentSatisfaction,JobInvolvement,JobRole,JobSatisfaction,MonthlyIncome,NumCompaniesWorked,...,YearsSinceLastPromotion,YearsWithCurrManager,Travel_Frequently,Travel_Rarely,Research & Development,Sales,Male,Married,Single,Attrition
0,0.683737,0.885521,0.000000,1.0,0.333333,0.666667,1.000,1.000000,0.596518,0.888889,...,0.000000,0.294118,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0
1,0.831787,0.374403,0.617540,1.0,0.666667,0.333333,0.875,0.333333,0.544458,0.111111,...,0.066667,0.411765,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0
2,0.598474,0.967331,0.205847,0.2,1.000000,0.333333,0.750,0.666667,0.243814,0.666667,...,0.000000,0.000000,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,0.503446,0.972445,0.326260,1.0,1.000000,0.666667,0.875,0.666667,0.354519,0.111111,...,0.200000,0.000000,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
4,0.336773,0.653689,0.205847,0.8,0.000000,0.666667,0.750,0.333333,0.413369,1.000000,...,0.133333,0.117647,0.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0

In [36]:
final_data.to_csv('final_data.csv',index=False)